@import "/src/scss/vars";
@import "/src/scss/mixins";


.visual {
    margin-top: 240px;
  &__list {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: 24px;
    @media (max-width: $tablet) {
      grid-template-columns: 1fr 1fr;
    }
    
      @media (max-width: $tablet-small) {
        grid-template-columns: 1fr; 
    }
    
  }

  &__item {
    margin-inline: auto;
    img {
        max-width: 400px;
        
    }
  }
}
